<h2>Détail du contact</h2>

<button (click)="toggleEditMode($event)">
  <span *ngIf="!editMode">Modifier</span>
  <span *ngIf="editMode">Annuler</span>
</button>

<ng-container *ngIf="contact$ | async as contact">

  <ng-container *ngIf="editMode">
    <div>
      <label>Nom : </label>
      <input type="text" [(ngModel)]="contact.nom"/>
    </div>
  </ng-container>
  <ng-container *ngIf="!editMode">
    <h4>Nom : {{contact.nom}}</h4>
  </ng-container>


  <p>Tags : {{contact.tags}}</p>

  <h4>Téléphones</h4>
  <ng-container *ngFor="let numsTel of (contact.numsTel | keyvalue)">
    <p>{{numsTel.key}} : {{numsTel.value}}</p>
  </ng-container>

  <h4>Adresses</h4>
  <ng-container *ngFor="let adresses of (contact.adresses | keyvalue)">
    <p>{{adresses.key}} : {{adresses.value}}</p>
  </ng-container>
</ng-container>

