<h2>Liste des contacts</h2>

<ng-container *ngIf="contacts$ | async as contacts">
  <p *ngIf="!contacts">En cours de chargement...</p>
  <p *ngIf="contacts && !contacts?.length">Pas de contact</p>
  <ul *ngIf="contacts?.length">
    <li *ngFor="let contact of contacts" style="cursor: pointer" [routerLink]="['/contacts', contact.id]">{{contact.nom}}</li>
  </ul>
</ng-container>

<router-outlet></router-outlet>

